# Flutter/Dart specific
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.dart.js
*.info.json      
*.js             
*.js_
*.js.deps
*.js.map
*.g.dart

# IDE specific
.idea/
.vscode/
*.iml
*.ipr
*.iws

# iOS/XCode related
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/**/*sync/
**/ios/**/.sconsign.dblite
**/ios/**/.tags*
**/ios/**/.vagrant/
**/ios/**/DerivedData/
**/ios/**/Icon?
**/ios/**/Pods/
**/ios/**/.symlinks/
**/ios/**/profile
**/ios/**/xcuserdata
**/ios/.generated/
**/ios/Flutter/.last_build_id
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/ephemeral
**/ios/Flutter/flutter_assets/

# Android related
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
**/android/key.properties
*.jks

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Coverage
coverage/
*.lcov

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Temporary files
*.log
*.pyc
*.swp
.buildlog/
.history
.svn/
migrate_working_dir/

# Web related
lib/generated_plugin_registrant.dart
web/favicon.png
web/icons/

# Environment files
.env*
*.env
